*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color: #f4f4f4;
}
h2{
	text-align: center;
	margin: 50px 0 20px;
}
#sign2js-container{
	width: 420px;
	margin: 0 auto;
}
#sign2js{
	border: 1px dashed #999;
	border-radius: 5px 5px 0 0;
	cursor: crosshair;
	background-color: #fff;
}

/* Underneath Buttons */
#sign2js-save, #sign2js-clear{
	width: 208px;
	border: none;
	background-color: #CCCCCC;
	padding: 12px;
	margin: 0 auto 10px;
	outline: none;
	cursor: pointer;
}
#sign2js-clear{
	border-radius: 0 0 0 5px;
	color: #666;
	background-color: #fff;
	border: 1px solid #bbb;
}
#sign2js-save{
	border-radius: 0 0 5px 0;
	color: #fff;
	background-color: #2792d9;
	border: 1px solid #2270ba;
}
#sign2js-clear:hover{
	background-color: #eee;
}
#sign2js-save:hover{
	background-color: #63b9f2;
	border-color: #63b9f2;
}

/* MODAL WINDOW */
.modalSign{
	display: none; 
	position: fixed; 
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.9); 
}
.modalSign-content{
	background-color: #fefefe;
	margin: 30px auto 0;
	border: 1px solid #000;
	text-align: center;
	width: 518px;
}
#modalSign-title{
	margin: 15px 0;
	font-size: 18px;
	color: #2792d9;
}
#sign2js-preview{
	width: 418px;
}
#sign2js-cancel{
	color: #666;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: block;
	margin: 10px auto 0;
	font-size: 14px;
}
#sign2js-cancel:hover{
	text-decoration: underline;
}
#sign2js-confirm{
	width: 100%;
	padding: 15px;
	font-size: 16px;
	outline: none;
	cursor: pointer;
	display: block;
	margin-top: 10px;
	color: white;
	background-color: #2792d9;
	border: none;
}
#sign2js-confirm:hover{
	background-color: #63b9f2;
}